<!DOCTYPE html>
<html>
    <head>
        <title>H1B Visa Prediction</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6" style="font-family: fantasy;border: 1px solid #efefef;background: #f5f5f5;">
                    <h1 class="text-center" style="margin: 100px 0 50px 0">Get Feedback</h5>
                        <form action="/getPrediction" method="POST">
                            <div class="form-group">
                                <label for="feedback">Feedback</label>
                                <input name="feedback" type="text" class="form-control" placeholder="Feedback" value="{{random_data.feedback}}">
                            </div>

                            <div class="form-group text-center" style="margin-top: 50px">
                                <button name="getPrediction" type="submit" class="btn btn-success">Get Prediction</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#getPrediction").on('click', function(){
            $.getJSON('/getPrediction', function(data){
                print('on click')
            });
            return false
        });
    });
</script>